@font-face {
    font-family: 'Avenir-Medium';
    src: local('Avenir-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir-Light';
    src: local('Avenir-Light.ttf') format('truetype');
}

h2 {
    margin-top: 100px;
    font-family: Avenir-Medium;
    font-size: 36px; 
    margin-bottom: 20px;
}

.input {
    width: 350px;
    height: 50px;
    margin-top: 15px;
    border-radius: 15px;
}

.button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
    width: 350px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: lightgray;
    font-family: Avenir-Medium;
    font-size: 18px;
    padding-left: 15px;
}

::placeholder {
    color: green;
}

input[type=text], input[type=password] {
    font-family: Avenir-Light;
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid black;
}
