@font-face {
    font-family: 'Avenir-Medium';
    src: local('Avenir-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Black';
    src: local('Avenir-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: local('Avenir-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Light';
    src: local('Avenir-Light.ttf') format('truetype');
}

.bar {
    font-family: Avenir-Heavy;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #207DFA;
    position: fixed;
    width: 100vw;
    top: 0;
}

.titles {
    font-family: Avenir-Heavy;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 72px;
    text-align: left;
    background-color: #EDF3FA;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 50%;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 40px;
    width: 50%;
}

.bottom {
    background-color: white;
}

.bottomTitle {
    text-align: left;
    padding-left: 15.5vw;
    font-family: Avenir-Heavy;
    font-size: 22px;
}

.top {
    background-color: #EDF3FA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.create {
    margin-right: 40px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    transition: border-color 0.3s ease;
}

.browse {
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}

img {
    width: 125px;
    padding: 45px;
}

.profile {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 30vw;
    height: 165px;
    text-align: left;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.h2 {
    font-family: Avenir-Black;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtext {
    color: #777777;
    font-family: Avenir-Light;
    margin: 0px;
    margin-top: 10px;
    font-size: 20px;
}

.section {
    display: flex;
    flex-direction: row;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: Avenir-Medium;
    font-size: 21px;
    margin: 0px;
    width: 33%;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Avenir-Medium;
    font-size: 18px;
    margin: 0px;
    color: #777777;
    width: 33%;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: #777777;
    width: 33%;
}

.create:hover {
    cursor: pointer;
}
.browse:hover {
    cursor: pointer;
}