@font-face {
    font-family: 'Avenir-Medium';
    src: local('Avenir-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Light';
    src: local('Avenir-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Black';
    src: local('Avenir-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Roman';
    src: local('Avenir-Roman.ttf') format('truetype');
}

.unit {
    background-color: white;
    margin-top: 45px;
    margin-bottom: 62px;
    margin-left: 15vw;
    margin-right: 15vw;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 36px 60px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.title {
    text-align: left;
    margin: 0px;
    font-family: Avenir-Black;
    font-size: 50px;
}

.hor {
    display: flex;
    flex-direction: row;
    font-family: Avenir-Medium;
    font-size: 30px;
    align-items: end;
}

.bigger {
    margin: 0px;
}

.smaller {
    padding-left: 8px;
    font-family: Avenir-Roman;
    font-size: 20px;
    color: #474747;
    padding-bottom: 4px;
    margin: 0px;
}

.button {
    border: 0px;
    border-radius: 15px;
    padding: 12px;
    font-family: Avenir-Light;
    font-size: 22px;
    width: 14vw;
}

.a {
    background-color: #828282;
    color: white;
}

.b {
    background-color: #63CF63;
    color: white;
}

.c {
    background-color: #EDF3FA;
    color: black;
}